body {
    font-family: 'EB Garamond', serif;
    line-height: 1.6;
}

#header {
    top: 0;
    max-width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#secondary-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

#secondary-header nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
}

#secondary-header nav li {
    margin-right: 15px;
}

#secondary-header nav a {
    text-decoration: none;
    color: black;
}


h1, h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
    text-align: center;
}

#content {
    margin-top: 20px;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: left;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Set a semi-transparent white background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a box shadow for a blurry effect */
}


#footer {
    margin-top: 20px;
    bottom: 0;
    text-align:center;
    max-width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Set a semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}